# System Files
**/.DS_Store
**/Thumbs.db


/dist
/tmp
/out-tsc
/.idea
/.project
/.classpath
/.c9/
/*.launch
/.settings/
/*.sublime-workspace
/.vscode/*
/!.vscode/settings.json
/!.vscode/tasks.json
/!.vscode/launch.json
/!.vscode/extensions.json
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
/npm-debug.log
/yarn-error.log
/testem.log
/typings
/src/assets/codemirror
/src/assets/codemirror/company.json
**/environment.prod.ts
**/node_modules
**/package-lock.json
**/*.code-workspace